* {
  margin: 0;
}

body {
  font-size: 30px;
  /* overflow: hidden; */
}


/* click here */

.click-here {
  background-color: black;
  height: 100vh;
  padding-top: 10vh;
  box-sizing: border-box;
}

button {
  display: block;
  width: 80%;
  height: 80vh;
  margin: auto;
  font-size: 120px;
}

.App {
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: row;
  min-height: 63vh;
}

header > * {
  flex: 1;
}

header div {
  flex: 0 1 37vw;
  /* background-image: url('./memoving1.gif'); */
  background-repeat: no-repeat;
  background-size: 136%;
  background-position: bottom;
  position: relative;
  /* bottom: 1px; */

  /* margin-left: -100px;
  margin-right: -120px; */
}

header div video {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
  z-index: -1000;
}

.speech > * {
  opacity: 0;
  transition: 1.9s;
}

.speech.playing > * {
  opacity: 1;
}

.speech img {
  position: absolute;
  left: 30.8vw;
  top: 9.4vw;
  width: 20vw;
  /* background-color: yellow; */

  display: block;
  transition: 2s;
}

.bubble-text {
  position: absolute;
  left: 35.8vw;
  top: 13.4vw;
  width: 13vw;
  /* background-color: yellow; */

  font-family: 'Comic Sans MS';
  display: block;
  font-size: 1.2vw;
  transition: 3s;
}

header img {
  /* flex: 1; */
  height: 13vw;
}

.App > .second-row {
  display: flex;
  font-size: 60%;
  border-bottom: 3px solid black;
  background: url('./connectwork.png');
}

.App > .second-row > * {
  padding: 1em;
  margin-left: 0.15em;
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  -webkit-transition:width 0.2s ease;
}

.App > .second-row > a:hover {
  /* padding: 0.7em;
  margin: 0.3em 0.6em 0.3em 0.3em; */
  background-color: rgba(255, 255, 255, 0.8); 
}

.App > .second-row > div {
  width: 100%;
  margin-right: 0;
}


main {
  padding: 2vw;
}

header h1 {
  font-size: 7vw;
  align-self: flex-end;
  margin: 0;
  color: black;
  /* font-weight: 700; */
  /* -webkit-text-stroke: 1px orange; */
  padding: 2vw;
  /* -webkit-text-stroke: 2px gray; */
  background-repeat: no-repeat;
  background-position: bottom left;
  z-index: 1;
}


ul {
  list-style-type: square;
  /* list-style-type:; */
}

section {
  margin-bottom: 1em;
}

h2 {
  text-transform: uppercase;
  font-size: large;
  margin-bottom: 10px;
}

a.disabled-link {
  pointer-events: none;
}

a {
  color: blue;
}

a:hover {
  color: orange;
}


.autoplay-audio {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 60%;
  text-align: right;
}