body {
  font-size: 30px;
  background-color: white;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: row;
  min-height: 15vw;
}

header > * {
  flex: 1;
}

header div {
  flex: 0 0 22vw;
  background-image: url('./me transparent.png');
  background-repeat: no-repeat;
  background-size: 20vw;
  background-position: bottom left;
}

header img {
  /* flex: 1; */
  height: 13vw;
}

h1 {
  font-size: 4vw;
  align-self: flex-end;
  margin: 0;
  color: black;
  padding: 2vw;
  /* -webkit-text-stroke: 2px gray; */
  background-repeat: no-repeat;
  background-position: bottom left;
}

ul {
  list-style-type: circle;
}

a {
  color: blue;
}

a:hover {
  color: orange;
}